{% extends "plantillabase.html" %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="text-center my-2">Subir Videos</h2>
        </div>
        <div class="card-body">
            <form id="uploadForm" action="/guardarVideo" method="post" enctype="multipart/form-data">
                <!-- Cargar Video -->
                <div class="mb-3 row">
                    <label for="videoCargado" class="col-sm-4 col-form-label text-end">Cargar Video:</label>
                    <div class="col-sm-8">
                        <input type="file" id="videoCargado" name="videoCargado" class="form-control" accept="video/*" required>
                    </div>
                </div>

                <!-- Título del Video -->
                <div class="mb-3 row">
                    <label for="tituloVideo" class="col-sm-4 col-form-label text-end">Título del Video:</label>
                    <div class="col-sm-8">
                        <input type="text" id="tituloVideo" name="tituloVideo" class="form-control" required>
                    </div>
                </div>

                <!-- Reseña -->
                <div class="mb-3 row">
                    <label for="resenaVideo" class="col-sm-4 col-form-label text-end">Reseña:</label>
                    <div class="col-sm-8">
                        <textarea id="resenaVideo" name="resenaVideo" class="form-control" rows="4" required></textarea>
                    </div>
                </div>

                <!-- Promoción -->
                <div class="mb-3 row">
                    <label for="numeroDePromocion" class="col-sm-4 col-form-label text-end">Promoción:</label>
                    <div class="col-sm-8">
                        <select id="numeroDePromocion" name="numeroDePromocion" class="form-control" required>
                            <option value="">Seleccionar Promoción</option>
                            {% for promocion in promociones %}
                            <option value="{{promocion.numero_promocion}}">{{promocion.numero_promocion}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Botones -->
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary btn-lg me-3">Guardar Video</button>
                        <button type="button" class="btn btn-outline-primary btn-lg centered-link" onclick="window.history.back()">Volver</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>

<!-- Indicador de carga -->
<div class="loader-modal" id="loader-modal">
    <div class="loader" id="loader">
        <div class="circle"></div>
    </div>
    <div class="loading-text" id="loading-text">Procesando video, por favor espere...</div>

</div>


<script>
     document.getElementById('uploadForm').addEventListener('submit', function() {
        document.getElementById('loader-modal').style.display = 'flex';
    });
</script>
{% endblock %}
