{% extends "plantillabase.html" %}
{% block content %} 


<section id="iniciar-sesion" class="iniciar-sesion-seccion">
    <h2>Editar Administrador</h2>
    <form id="crearCuenta" action="{{ url_for('usuario_rutas.modificarAdministrador_enBaseDatos')}}" method="post" onsubmit="return validarFormulario()">
        <label for="correo">Correo Electrónico:</label>
        <input type="text" id="id" name="id" value="{{ administrador[0] }}" hidden>

        <input type="email" id="correo" name="correo" value="{{ administrador[1] }}" required>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required minlength="6">

        <label for="confirmarContrasena">Confirmar Contraseña:</label>
        <input type="password" id="confirmarContrasena" name="confirmarContrasena" required>

        <span id="errorContrasena" class="error" style="display: none;">Las contraseñas no coinciden</span>


        <button type="submit">Modificar Cuenta</button>
        
        <!-- Botón Volver -->
        <button class="btn btn-secondary centered-link" onclick="window.history.back()"class="centered-link"><span class="material-icons">arrow_back</span>Volver</button>
    </form>
    
    <script>
        function validarFormulario() {
            var contrasena = document.getElementById('contrasena').value;
            var confirmarContrasena = document.getElementById('confirmarContrasena').value;
            var errorContrasena = document.getElementById('errorContrasena');

            if (contrasena !== confirmarContrasena) {
                errorContrasena.style.display = 'block';
                return false;
            } else {
                errorContrasena.style.display = 'none';
                return true;
            }
        }
    </script>
</section>

{% endblock %}