{% extends "plantillabase.html" %}
{% block content %} 


<section id="iniciar-sesion" class="iniciar-sesion-seccion">
    <h2>Editar Imagen</h2>
    <form id="crearCuenta" action="{{ url_for('imagen_rutas.modificarImagen_enBaseDatos')}}" method="post" onsubmit="return validarFormulario()">
        <input type="text" id="id" name="id" value="{{ imagen[0] }}" hidden>
        
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" value="{{ imagen[1] }}" required>
        
        <label for="comentario">Comentario:</label>
        <textarea id="comentario" name="comentario" value="{{ imagen[2] }}" required></textarea>

        
        <button class="btn-amarillo" type="submit">Modificar Imagen</button>
        
        <!-- Botón Volver -->
        <button class="btn btn-secondary centered-link" onclick="window.history.back()"><span class="material-icons">arrow_back</span>Volver</button>
    </form>
    
   
</section>

{% endblock %}