<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página web academia militar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <header>
        <div class="header-content">
            <img src="{{ url_for('static', filename='images/logo_proyecto.jpg') }}" alt="Logo" class="logo">
            <h1>Página de Contacto</h1>
            <nav>
               
                <a href="#contacto.html">Contacto</a>
                <a href="#acercade.html">Acerca de</a>
                
            </nav>
           
        </div>
    </header>
    <main>
    <h1>Academia de Logística</h1>
  
    <p>La Academia de Logística (ACLOG) de reciente creación (06 Noviembre 2.001) está ubicada en el Acuartelamiento Barón de Warsage (Inaugurado en 1.926 con el Nombre Infante D. Jaime) es uno de los Centros de Enseñanza más modernos e importantes del Ejército de Tierra (ET). Está situada en la localidad aragonesa de Calatayud.
En la Academia se forman por Curso unos 2.000 Alumnos de las diversas Especialidades Técnicas y de Logística del Ejército, dando cabida, asimismo,  a otros Ejércitos Nacionales y Extranjeros. Las capacidades docentes actuales del Centro, entre las que se deben destacar sus modernas instalaciones y su permanente adaptación a los nuevos planes de enseñanza militar, lo convierten en un excelente motor de futuro que pretende seguir compartiendo muchos años con Calatayud y su Comarca.</p>
</main>

<footer>
    <p>&copy; 2024 Academia Militar. Todos los derechos reservados.</p>
</footer>
</body>
</html>
