{% extends "plantillabase.html" %}
{% block content %}

{% if aviso %}
<div class="alert alert-success alert-dismissible">
    <span>{{ aviso }}</span>
    <button type="button" class="close" onclick="this.parentElement.style.display='none';">&times;</button>
</div>
{% endif %}

<h1>Administración</h1>

<div class="botonera">
    
    <a href="{{url_for('usuario_rutas.crearAdministrador')}}" class="centered-link"><span class="material-icons">person_add</span><span>Crear Administrador</span></a>
    <a href="{{url_for('promocion_rutas.crearPromocion')}}" class="centered-link"><span class="material-icons">group_add</span><span>Añadir Promoción</span></a>
    <a href="{{url_for('video_rutas.subirVideo')}}" class="centered-link"><span class="material-icons">videocam</span><span>Subir Video</span></a>
    <a href="{{url_for('imagen_rutas.subirImagen')}}" class="centered-link"><span class="material-icons">image</span><span>Subir Imagen</span></a>
</div>

<div class="botonera">
    <a href="{{url_for('usuario_rutas.editarAdministrador')}}" class="btn-yellow centered-link"><span class="material-icons">edit</span><span>Editar Administrador</span></a>
    <a href="{{url_for('promocion_rutas.editarPromocion')}}" class="btn-yellow centered-link"><span class="material-icons">create</span><span>Editar Promoción</span></a>
    <a href="{{url_for('video_rutas.editarVideo')}}" class="btn-yellow centered-link"><span class="material-icons">edit</span><span>Editar Video</span></a>
    <a href="{{url_for('imagen_rutas.editarImagen')}}" class="btn-yellow centered-link"><span class="material-icons">edit</span><span>Editar Imagen</span></a>
</div>

<div class="botonera">
    <a href="{{url_for('usuario_rutas.eliminarAdministrador')}}" class="btn-red centered-link"><span class="material-icons">close</span><span>Eliminar Administrador</span></a>
    <a href="{{url_for('promocion_rutas.eliminarPromocion')}}" class="btn-red centered-link"><span class="material-icons">close</span><span>Eliminar Promoción</span></a>
    <a href="{{url_for('video_rutas.eliminarVideo')}}" class="btn-red centered-link"><span class="material-icons">close</span><span>Eliminar Video</span></a>
    <a href="{{url_for('imagen_rutas.eliminarImagen')}}" class="btn-red centered-link"><span class="material-icons">close</span><span>Eliminar Imagen</span></a>
</div>

{% endblock %}    
