{% extends "plantillabase.html" %}
{% block content %}

{% if aviso %}
<div class="alert alert-success alert-dismissible">
    <span>{{ aviso }}</span>
    <button type="button" class="close" onclick="this.parentElement.style.display='none';">&times;</button>
</div>
{% endif %}

<h1>Administración</h1>

<div class="botonera">
    <a href="{{url_for('usuario_rutas.crearAdministrador')}}">Crear Administrador</a>
    <a href="{{url_for('promocion_rutas.crearPromocion')}}">Añadir Promoción</a>
    <a href="{{url_for('video_rutas.subirVideo')}}">Subir Video</a>
    <a href="{{url_for('imagen_rutas.subirImagen')}}">Subir Imagen</a>
</div>

<div class="botonera">
    <a href="{{url_for('usuario_rutas.editarAdministrador')}}" class="btn-yellow">Editar Administrador</a>
    <a href="{{url_for('promocion_rutas.editarPromocion')}}" class="btn-yellow">Editar Promoción</a>
    <a href="{{url_for('video_rutas.editarVideo')}}" class="btn-yellow">Editar Video</a>
    <a href="{{url_for('imagen_rutas.editarImagen')}}" class="btn-yellow">Editar Imagen</a>
</div>

<div class="botonera">
    <a href="{{url_for('usuario_rutas.eliminarAdministrador')}}" class="btn-red">Eliminar Administrador</a>
    <a href="{{url_for('promocion_rutas.eliminarPromocion')}}" class="btn-red">Eliminar Promoción</a>
    <a href="{{url_for('video_rutas.eliminarVideo')}}" class="btn-red">Eliminar Video</a>
    <a href="{{url_for('imagen_rutas.eliminarImagen')}}" class="btn-red">Eliminar Imagen</a>
</div>

{% endblock %}    
