{% extends "plantillabase.html" %}
{% block content %} 

<!-- Sección de iniciar sesión -->
<section id="iniciar-sesion" class="iniciar-sesion-seccion">
    <h2>Iniciar Sesión</h2>
    <form action="/login" method="post">
        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" name="correo" required>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>
        <button type="submit">Iniciar Sesión</button>
    </form>
</section>

{% endblock %}
